.app__navbar{
    padding: 2rem  0rem 2rem 1.2rem;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    border-radius: 2rem 0 0 2rem;
    // overflow-y: scroll;
    // overflow-x: hidden;
    p{
        margin: 0;
        padding: 0;
    }
}